body{
    background-color:#a598ee;
    color: #DEDAF9;
    font-family: 'Open Sans', sans-serif; 
}

fieldset{
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
}


legend{    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 72px;
    line-height: 1;
    color: #fff;
    margin-bottom: 60px;
}

.inner-form{
    font-family: poppins,sans-serif;
    background: rgb(206 206 206 / 12%);
    padding: 50px 47px;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.container{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#search{
    margin-right: 30px;
    height: 68px;
    background: #fff;
    border-radius: .5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 20px;
}

.btn-search{
    height: 90px;
    width: 180px;
    background: #63c76a;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out,color .2s ease-out;
    border: 0;
    cursor: pointer;
    margin-right: 0;
}

.top, .content{
    display: flex;
    justify-content: center;
}

.content{
    flex-direction: column;
}

.main{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.sys, .descpt, .minMax{
    display: flex;
    flex-direction: row;

}

#weather{
    font-size: 31px;
}

#temperature{
    font-size: 64px;
}

.grid{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: row;
}